.container-should-be-login {
    height: 100vh;
    display: flex;
}

.container-should-be-login>.should-be-login {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.active-admin {
    color: white;
    background-color: #10846F !important;
}