@keyframes slideItemInHomePage {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.item-animation {
    animation: 1s ease-in-out 0s 1 slideItemInHomePage;
}