@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.container__ungdung {
    padding: 150px 50px;
    background-color: #FFDDEA;
}

.container__ungdung-ref {
    padding: 150px 15px;
    padding-top: 150px !important;
    background-color: #FFECF3;
}

.card__ref {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    margin-right: auto;
    margin-left: auto;
}

.ntainer__ungdung-ref>.card__ref>.image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.card-search {
    padding: 80px 60px 50px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.input-ungdung {
    border: 0px solid white !important;
    border-bottom: 1px solid #10846F !important;
}

.title__ung-dung {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    color: #10846F;
}

.sub-title__ung-dung {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    color: #10846F;
}

.li__ung-dung {
    font-family: 'Raleway', sans-serif;
    margin: 5px;
    color: #10846F;
}

.react-multi-carousel-list>.react-multi-carousel-track {
    display: flex;
    justify-content: center !important;
}

.react-multiple-carousel__arrow--left,
.react-multiple-carousel__arrow--right {
    background: transparent !important;
    color: #10846F;
}
.react-multiple-carousel__arrow--left,
.react-multiple-carousel__arrow--right::hover{
    background-color: gray !important;
    color: white;
}
.react-multiple-carousel__arrow--left::before {
    color: #10846F;
    content: "\3008";
    font-weight: 900;
    font-size: 60px;
}

.react-multiple-carousel__arrow--right::before {
    color: #10846F;
    content: "\3009";
    font-weight: 900;
    font-size: 60px;
}

.slick-slide {
    margin-left: 20px;
    margin-right: 20px;
}

.react-multi-carousel-item {
    margin-left: 20px;
    margin-right: 20px;
}

.text-nguon-luc {
    color: #10846F !important;
    font-size: 20px;
    padding: 10px;
    font-weight: 100 !important;
}

.input-group>.input-ungdung {
    border: 0px solid white !important;
    border-bottom: 1px solid #10846F !important;
}

.spacing-trainghiem {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.spacing-y-nguonluc {
    margin-bottom: 70px !important;
    margin-top: 70px !important;
}

.img-nguonluc {
    width: 65% !important;
}

@media only screen and (max-width: 768px) {
    .container__ungdung-ref {
        padding: 150px;
        padding-top: 100px !important;
        padding-bottom: 50px !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        background-color: #FFDDEA;
    }

    .container__ungdung {
        padding: 150px 20px;
    }

    .container__ungdung>.container {
        width: 100%;
    }

    .card-search {
        width: 100%;
        padding: 70px 10px;
    }

    .react-multi-carousel-item {
        margin-left: 20px;
        margin-right: 20px;
    }

    .text-nguon-luc {
        font-size: 16px;
    }

    .spacing-trainghiem {
        padding: 20px !important;
    }

    .spacing-y-nguonluc {
        margin-bottom: 30px !important;
        margin-top: 30px !important;
    }

    .img-nguonluc {
        width: 90% !important;
    }

    .react-multi-carousel-list>.react-multi-carousel-track>.react-multi-carousel-item{
        margin-left: 20px;
        margin-right: 20px;
    }
    
}